@use "../../sass/mixins.scss" as mixin;
@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.card {
  padding:38px;
  max-width: 388px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
  height: 400px;
}

.card h3 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #211f54;
}

.card p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #6e7191;
}

.card img{
    width: 50%;
}
