@use "../../sass/mixins.scss" as service;
@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.cleaning h1 {
  @extend %sec_heading;
  max-width: 608px;
  margin: 0 auto;
}

.info {
  padding-top: 21px;
  @extend %info-text;
  max-width: 648px;
  text-align: center;
  margin: 0 auto;
}

.clients_wrapper {
  padding-top: 32px;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @include media(598px) {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.clients_wrapper .clent_wrapper {
  @include media(598px) {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.video_container {
  position: relative;
  max-width: 850px;
  max-height: 480px;
  border-radius: 20px;
  margin: 0 auto;
}
.video_container video {
  border: 5px solid orange;
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
  overflow: hidden;
}

.video_container .bg-video {
  position: absolute;
  width: 100%;
  height: calc(100% - 13px);
  border-radius: 20px;
  background: #3b9bea83;
  z-index: 2;
  top: 5px;
  left: 4px;
}

.playButton {
  position: absolute;
  top: 50%;
  right: 45%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.played {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(249, 245, 245, 0.7);
  display: none;
  cursor: pointer;
}

.main-video.active + .played {
  display: block;
}
.pause_icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.pauseButton {
  padding: 5px;
  position: absolute;
  top: 450px;
  left: 25px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  @extend %info-text;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  //   border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.pause {
  width: 35px;
  height: 35px;
}
